body, html {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
    overflow-x: hidden; // Prevent horizontal scrolling
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider {
    display: flex;
    width: 200vw; // Adjust this if you have more than two slides
}

.slide {
    width: 100vw;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
}

.container {
    background-color: #1c1c1e; /* Container background color */
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title, .output, .input, .button, .caption {
    color: #CDDEF2;
    margin: 10px;
}

.input, .button {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.button {
    background-color: #484C77; /* Button background color */
    border: none;
    border-radius: 10px;
}

#next {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
